body {
  font-family: "Raleway";
}

h1 {
  font-size: 6em;
  font-family: "Indie Flower";
  text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
  color: #e9efdc;
}

button {
  box-shadow: 0px 4px 5px black;
  text-shadow: 0px 2px 5px black;
}

.jumbotron {
  background-color: #e9efdc;
}

.panel1 {
  font-size: 4em;
  background-color: #e9efdc;
  font-family: monospace;
  box-shadow: 10px 10px 50px black;
  text-shadow: 0px 2px 20px grey;
}

.panel2 {
  font-size: 6em;
  font-family: "Raleway";

  color: black;
}
